.env
.env.backup
.env.example
.gitattributes
.idea
.jar
.jpg
.phpunit.result.cache
.png
.roboci
.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Dockerfile
Homestead.json
Homestead.yaml
app/logs/*
app/logs/err/*
app/logs/err/con_PDO_err.txt
composer.lock
desktop.ini
npm-debug.log
public/files/*.jar
public/files/*.rar
public/files/*.zip
public/img/*
vendor/*
version.*
yarn-error.log
